@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    background-color: black;
    font-family: 'Titillium Web', sans-serif;
}
header {
    padding-top: 1rem;
}

#logo {
    margin-left: 16rem;
}

#menu {
    font-size: 1.25rem;
    display: inline-block;
    position: absolute;
    margin-left: 11rem;
    margin-top: 1rem;
}

.a_header {
    text-decoration-line: none;
    color: white;
    border-right: 0.1rem solid #555555;
    padding: 0.8rem;
}

.no_barre {
    border-right: none;
    text-decoration-line: none;
    padding: 0.8rem;
    color: white;
}

i {
    color: white;
    margin-left: 2%;
}

#search {
    width: 15%;
    background-color: #333333;
    padding: 0.7rem;
    color: #6f6e71;
    border: none;
}
#search_barre {
    position: absolute;
}

#back_menu {
    font-size: 14px;
    margin-left: 2rem;
    display: inline-block;
    border: 0.1rem solid #555555;
    background-color: #555555;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.a_back {
    text-decoration-line: none;
    color: white;
    border-right: 0.1rem solid #888888;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

section {
    display: inline-block;
    border: 1px solid white;
    width: 70%;
    margin-left: 18rem;
    margin-top: 1rem;
}

#satelite {
    width: 50%;
    border: 1px solid white;
    display: inline-block;
}

#container {
    width: 35%;
    display: inline-block;
    position: absolute;
}

#bloc {
    display: inline-block;
}

#info {
    display: inline-block;
    width: 52%;
    height: 100%;
    position: absolute;
    color: white;
    padding-left: 1rem;
    margin-left: 1rem;
    background-color: #39719e;
}

hr {
    width: 95%;
}

p {
    font-size: 14px;
}

.a_article {
    text-decoration-line: none;
    padding-left: 2rem;
    font-size: 14px;
    color: white;
}

#img_right {
    display: inline-block;
    border: 1px solid white;
    width: 48%;
}
